nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    word-spacing: 10px;
}
header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center
}
.cards-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;
}