body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    word-spacing: 10px;
    padding: 20px;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: underline;
  color: black;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
}
header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center
}
.cards-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
