body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    word-spacing: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: underline;
  color: black;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
}
header{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom: 1px solid black;
background-color: rgb(176, 202, 227);
padding-top: 50px;
padding-bottom: 50px;
width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center
}
.cards-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    border: 1px solid black;
    background-color: lightgray;
    min-width: 250px;
}
svg{
    border-radius: 5px;
    display: flex;
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(83, 84, 93);
}
.button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px; 
    background-color: rgb(74, 103, 153);
}